p {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    text-align: justify;
}
h1 {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
}
h2 {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
}
h3 {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 10px;
}
h4 {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
}
.img-container {
    text-align: center;
    display: block;
  }